@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');

.btn {
    font-family: 'Cabin';
    color: black;
    padding: 10px;
    margin: 10px;
    border: 2px black solid;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3e8e41;
    color: white;
}

.btn:hover {
    animation-name: jump;
    animation-duration: 0.5s;
    animation-delay: 0.05s;
}

.btn:active {
    background-color: orange;
    transition: 0.1s;
}

@keyframes jump {
    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}